<html lang="es">
  <%- include('./partials/head', { title : 'Admin | Boulevard' }) %>
  <body class="admin">
    <main class="main">
      <div class="responsive-wrapper">
        <div class="main-header">
          <h2>Ajustes de administrador</h2>
          <div class="search">
            <form id="search-form" class="search" action="/result" method="GET">
              <div>
                <input name="keyword" />
                <button type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="horizontal-tabs">
          <a href="#">Mi perfil</a>
          <a href="#">Perfiles</a>
          <a href="#">Contraseñas</a>
          <a href="#">Team</a>
          <a href="#">Plan</a>
          <a href="#">Notas</a>
          <a href="#">Registros</a>
          <a href="#">Notificaciones</a>
          <a href="#" class="active">Integraciones</a>
          <a href="#">APIs</a>
        </div>
        <div class="content-header">
          <div class="content-header-intro">
            <h4>Administra los productos y usuarios de tu base</h4>
            <p>
              Agrega, edita y elimina productos. Administra roles de usuarios
            </p>
          </div>
          <div class="content-header-actions">
            <a href="#" class="button">
              <i class="ph-faders-bold"></i>
              <span>Filters</span>
            </a>
            <a href="/products/productAdd" class="button">
              <i class="ph-plus-bold"></i>
              <span>Agregar producto</span>
            </a>
          </div>
        </div>
        <div class="content">
          <div class="content-panel">
            <div class="vertical-tabs">
              <a href="#" class="active">Ver todo</a>
              <a href="#">Ajustes adicionales</a>
              <a href="#">Equipo</a>
              <a href="#">Productividad</a>
              <a href="#">Herramientas</a>
              <a href="#">Reclamos</a>
            </div>
          </div>

          <div class="content-main">
            <div class="card-grid">
              <article class="card">
                <div class="pro-container">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                      </tr>
                    </thead>

                    <tbody>
                      <% products.forEach(({id,title,author,price,images}) => {
                      %>
                      <tr>
                        <th>
                          <img
                            src="/images/<%= images[0].file %> "
                            alt=""
                            class="img-fluid m-2"
                            width="60px"
                          />
                        </th>
                        <td><%= title %></td>
                        <td><%= author %></td>
                        <td>$<%= price %></td>
                        <td>
                          <button>
                            <a href="/products/productEdit/<%= id %>"
                              ><i class="fa-solid fa-eraser"></i
                            ></a>
                          </button>
                        </td>

                        <td>
                          <button type="submit">
                            <a href="#open-modal"
                              ><i class="fa-solid fa-trash-can"></i
                            ></a>
                          </button>
                        </td>
                      </tr>
					  	<!-- modal window for delete product -->
                      <div id="open-modal" class="modal-window">
                        <div>
                          <a href="#" title="Close" class="modal-close">X</a>
                          <h5>Eliminar!</h5>
                          <div>¿Seguro que queres eliminar el producto?</div>
                          <br />
                          <div><small>Eliminar 👇</small></div>
                          <div class="delete-user">
                            <form
                              action="/products/remove/<%= id %>?_method=DELETE"
                              method="POST"
                            >
                              <button type="submit" class="btn btn-danger">
                                <i class="fa-solid fa-trash-can"></i>Si, quiero eliminar
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
					  <!-- ends of modal window -->
                      <% }) %>
                    </tbody>
                  </table>
                
                  <div class="pro-container">
                    <table class="table">
                      <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Rol</th>
                        </tr>
                      </thead>
                        <tbody>
                            <% users.forEach(({id,name,lastname, email,rolId}) => { %>
                            <tr>
                                <td><%= id %> </td>
                                <td><%= name %> </td>
                                <td><%= lastname %> </td>
                                <td><%= email %> </td>
                                <td><%= rolId %> </td>
                               
                                <td>
                                    <div>
                                        <form action="/users/updateUser/<%= id %>?_method=PUT" method="POST">
                                            <button type="submit" value="<%= rolId===1 ? 2:1 %>">
                                              <i class="fa-solid fa-eraser"></i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                               
                            </tr>
                         
                            <% }) %>
                        </tbody>
                    </table>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
