<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', { title : 'Admin | Boulevard' }) %>
  <body class="admin">
    <%- include('./partials/header') %>

    <main>
      <h1>Administra tu stock</h1>
      <section class="infoAdmin">
        <article class="commitsData">
         
        </article>
  

      </section>
     
      <section class="container">

        <a href="/products/productAdd">
          <button  class="buttonAdmin">Agregar producto</button>
        </a>

        <article class="row">
          <% product.forEach(({id,title,images}) => { %>
          <ul class="card-03">
            <li>
              <div>
                <div class="imageContainer">
                 <img src="/images/<%= images[0].file %> " alt="">
                </div>
                <h4><%= title %></h4>
              </div>

              <div class="buttons">
                <a href="/products/product-detail/<%= id %>"><button class="buttonAdmin" type="button"><i class="fa-solid fa-eye"></i>Ver</button></a>
               <a href="/products/productEdit/<%= id %>"><button class="buttonAdmin" type="button"><i class="fa-regular fa-pen-to-square"></i>Editar</button></a>
               <form action="/products/remove/<%= id %>?_method=DELETE" method="POST">
                <button class="buttonAdmin" type="submit"><i class="fa-solid fa-trash"></i>Eliminar</button>
              </form>
              
              </div>
            </li>
          </ul>
          <% }) %>
        </article>
      </section>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>

