<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title : 'Categorías | Boulevard'}) %>
<body>
    <%- include('./partials/header', {user: user})%> 
    <main class="landscape2">
        <div class="box-result">
            
                <% products.forEach(({id,title,author,price,images,categoryId}) => { %>
                    <section id="product1" class="section-p1">
                       
                        <div class="pro">
                            <div class="image-container">
                              <a href="/products/product-detail/<%= id %> "
                                ><img src="/images/<%= images[0].file %> " alt=""
                              /></a>
                            </div>
                            <div class="des">
                              <span><%= author %></span>
                              <h5><%= title %></h5>
                              <div class="star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half"></i>
                              </div>
                              <h4>$<%= price %></h4>
                            </div>
                            <div class="cart">
                              <a href="/products/product-detail/<%= id %>"
                                ><i class="fa-solid fa-eye"></i></a>
                            </div>
                          </div>
                        
                    </section>
                 
                <% }) %>
            
            
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>