<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {title : 'Home | Boulevard'}) %>
  <body>
    <%- include('./partials/header', {user: user})%>

    <main class="home-main">

      

      <section id="banner-top" class="box-banner">
        <img width="100%" src="/images/banner1.jpg" alt="" />
      </section>

      <div id="cuerpo">
        <section id="semana">
          <h2>Destacados de la semana</h2>
          <div class="box-semana">
            <% destacados.forEach(({id,images}) => { %>
            <article class="semana">
              <div class="producto">
                <a href="/products/product-detail/<%= id %> "
                  ><img src="/images/<%= images[0].file %> " alt=""
                /></a>
              </div>
            </article>
            <% }) %>
          </div>
        </section>
      
     

        <!--**BANNER**-->
        <div class="carousel">
          <div class="slides">
            <img
              src="../../images/hoover.jpg"
              alt="slide image"
              class="slide"
            />
            <img
              src="../../images/banner4.jpg"
              alt="slide image"
              class="slide"
            />
            <img
              src="../../images/bannerDeProducto.jpg"
              alt="slide image"
              class="slide"
            />
          </div>
          <div class="controls">
            <div class="control prev-slide">&#9668;</div>
            <div class="control next-slide">&#9658;</div>
          </div>
        </div>

        <section id="product1" class="section-p1">
        <section class="product"> 
          <h2 class="product-category">Ofertas del mes></h2>
          <button class="pre-btn"><img src="images/arrow.png" alt=""></button>
          <button class="nxt-btn"><img src="images/arrow.png" alt=""></button>
          <div class="product-container">
              <div class="product-card">
                  <div class="product-image">
                    
                      
            
                      <div class="pro-container">
                        <% oferta.forEach(({id,title,author,price,images}) => { %>
            
                        <div class="pro">
                          
                          <div class="image-container">
                            <a href="/products/product-detail/<%= id %> "
                              ><img src="/images/<%= images[0].file %> " alt=""
                            /></a>
                          </div>
                          <div class="des">
                            <span><%= author %></span>
                            <h5><%= title %></h5>
                            <div class="star">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star-half"></i>
                            </div>
                            <h4>$<%= price %></h4>
                          </div>
                          <div class="cart">
                            <a href="/products/product-detail/<%= id %>"
                              ><i class="fa-solid fa-eye"></i></a>
                          </div>
                        </div>
                        <% }) %>
                      </div>
                   
                  </div>
          </div>
      </section>
    </section>
     

        <!--**BANNER**-->
      </div>

      <section id="novedades" class="section-p1 section-m1">
        <div class="novedadtexto">
          <h4>Suscribite para novedades y</h4>
          <p>Obtené <span>cupones</span> especiales de descuento</p>
        </div>
        <form id="form" novalidate>
          <input type="email" name="email" placeholder="Tu email"/>
          <input class="normal"  id="button" value="Enviar" type="submit"></input>
        </form>
      </section>
     
        <a id="wsp" target="_blank" href="https://api.whatsapp.com/send?phone=5491121641437"><i class="fa-brands fa-whatsapp"></i></a>
     
    </main>

    <%- include('./partials/footer') %>
    <script src="../../js/main.js"></script>
    <script src="../../js/carousel.js"></script>
    <script src="/js/suscription.js"></script>
    <script src="/js/contactUs.js"></script>
    <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  
  <script type="text/javascript">
    emailjs.init('h41DzBhafwTmukOCc')
  </script>
  </body>
</html>
