<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {
        title : 'Iniciar sesión | Boulevard'
    }) %> 
<body class="body-login">
   
    <%- include('./partials/header') %> 


    <!-- formulario -->
    <main class="login-design">
        
        
        <div class="login__container">
            <div class="login-info-container">

                <h2>Iniciar Sesión</h2>
                <form action="" class="inputs-container" method="POST" id="form-control">
                    <p class="p-input">Tu email</p>
                    <input type="text" class="input form-control" name="email" id="email" value="<%= locals.old && old.email ? old.email : null %>">
                    <span id="errorEmail"><%= locals.errors && errors.email ? errors.email.msg : null %></span>

                    <p class="p-input">Tu contraseña</p>
                    <input type="password" class="input form-control" name="password" id="password" value="<%= locals.old && old.password ? old.password : null %>">
                  
                    <span id="errorPassword"><%= locals.errors && errors.password ? errors.password.msg : null %></span>

                    <div class="terminoss">
                        <input type="checkbox" name="checkbox" id="terminos">
                     <label for="terminos">Mantener mi sesión abierta</label> 
                     </div>
                     <div class="buttons">
                    <button type="submit">Iniciar Sesión</button>
                    <button><a href="/users/register">Registrate</a></button>
                     </div>
            
                </form>
            </div>
        </div>
        
        <div class="background">
            <img src="/images/login-noe.jpg" alt="biblioteca" class="toy1">
        </div>
    </main>
   

    <%- include('./partials/footer') %> 
    <script src="../../js/login.js"></script>
  
</body>

</html>