<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {
        title : 'login'
    }) %> 
<body class="body-login">
   
    <%- include('./partials/header') %> 


    <!-- formulario -->
    <main class="login-design">
        
        
        <div class="login__container">
            <div class="login-info-container">

                <h2>Iniciar Sesi칩n</h2>
                <form action="" class="inputs-container" method="POST">
                    <p class="p-input">Tu email</p>
                    <input type="text" class="input" name="email" id="email-log">
                    <span><%= locals.errors && errors.email ? errors.email.msg : null %></span>

                    <p class="p-input">Tu contrase침a</p>
                    <input type="password" class="input" name="password" id="password-log">
                    <span><%= locals.errors && errors.password ? errors.password.msg : null %></span>

                    <div class="terminoss">
                        <input type="checkbox" name="terminos-log" id="terminos-log">
                     <label for="terminos">Mantener mi sesi칩n abierta</label> 
                     </div>
                     <div class="buttons">
                    <button type="submit">Iniciar Sesi칩n</button>
                    <button><a href="/register">Registrate</a></button>
                     </div>
            
                </form>
            </div>
        </div>
        
        <div class="background">
            <img src="/images/login-noe.jpg" alt="biblioteca" class="toy1">
        </div>
    </main>
   

    <%- include('./partials/footer') %> 
  
</body>

</html>