<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title : 'Catálogo | Boulevard'}) %>
<body>
    <%- include('./partials/header', {user: user})%> 
    <main>
        <div class="product-box">
           
                <div class="col-12">
                    <h2>Nuestros libros en stock</h2>
                </div>
            
                <% products.forEach(({id,title,author,price,images}) => { %>
                    <article class="art-product">
                    
                    
                        <div class="product">
                            <div class="image-container">
                                <img src="/images/<%= images[0].file %> " alt="">
                            </div>
                            <a href="/products/product-detail/<%= id %> "><h4><%= title %></h4></a>
                             <h4><%= author %> </h4>
                             <h4 class="product-price">$<%= price %></h4>
                             <a href="/products/product-cart"><button>Comprar <i class="fa fa-shopping-cart"></i></button></a>
                            
                        </div>
                        
                    </article>
                 
                <% }) %>
            
            
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>