<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {title : `${product.title} | Boulevard` }) %>

<body>

    <%- include('./partials/header', {user: user})%> 
    <main>
    <div class="contenedor-principalProduct">
        <div class="contenedor-products">
           <div class="arrow">
           <a href="/"><i class="fa-solid fa-arrow-left-long"></i></a>
           </div>
            <div class="product-img">
                <img src="/images/<%= product.images[0].file %> " alt="">
            </div>

            <div class="product-descripcion">
               
                <h1 class="product-titulo"><%= product.title %></h1>

               

                <div class="product-detalle">
                    <h2>Reseña del libro:</h2>
                <b><p><%= product.description %></p></b>

                    <ul>
                        <li>Categoria: <span>
                            <% categories.forEach(category => { %>
                            <%= category.id === product.categoryId ? category.name:null%> 
                            <% }) %>
                        </span></li>
                        <li>Año: <span><%= product.year %> </span></li>
                        <li>Idioma: <span><%= product.language %> </span></li>
                        <li>N° de paginas: <span><%= product.pages %> </span></li>
                        <li>Formato: <span><%= product.format %> </span></li>
                        <li>Autor: <span><%= product.author %></span></li>
                        <li>Editorial: <span><%= product.editorial %></span></li>
                    </ul>
                </div>
                <div class="product-precio">
                    <p class="precio">Precio:<span>$<%= product.price  %></span></p>
                    <p class="precio">Descuento:<span><%= product.discount %>% OFF</span></p>
                    
                </div>
                <div class="carrito-compra">
                  
                    <button value="<%= product.id %>" id="btn-cart-add" class="buttonDetail">
                        Agregar a favoritos <i class="fas fa-shopping-cart"></i>
                    </button>
          
                </div>                
                <div class="redes-links">
                    <p>Compartir en: </p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section id="product1" class="section-p1">
        <article class="product detailProduct"> 
            <h2>Productos relacionados</h2>
            <div class="pro-container">
                <% productsDetail.forEach(({id,title,author,price,images}) => { %>
    
                <div class="pro">
                  
                  <div class="image-container">
                    <a href="/products/product-detail/<%= id %> "
                      ><img src="/images/<%= images[0].file %> " alt=""
                    /></a>
                  </div>
                  <div class="des">
                    <span><%= author %></span>
                    <h5><%= title %></h5>
                    <div class="star">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half"></i>
                    </div>
                    <h4>$<%= price %></h4>
                  </div>
                
                  <div class="cart">
                    <a href="/products/product-detail/<%= id %>"
                      ><i class="fa-solid fa-eye"></i></a>
                  </div>
               
                </div>
                <% }) %>
              </div>
            </article>
            </section>
</main>
    <%- include('./partials/footer') %>
    <script src="/js/cart.js"></script>
</body>

</html>