<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title : 'products'}) %>
<body>
    <%- include('./partials/header', {user: user})%> 
    <main>
        <div class="product-box">
           
                <div class="col-12">
                    <h1>Todos los productos</h1>
                </div>
            
                <% products.forEach(({id,name,autor,price,img}) => { %>
                    <article class="art-product">
                    
                    
                        <div class="product">
                            <a href="/products/product-detail/<%= id %> "><img src="/images/<%= img %> " alt=""></a>
                            <h4><%= name %> </h4>
                             <h5><%= autor %> </h5>
                             <h3 class="product-price">$<%= price %> </h3>
                             <a href="/products/product-cart"><button>Comprar <i class="fa fa-shopping-cart"></i></button></a>
                            
                        </div>
                        
                    </article>
                 
                <% }) %>
            
            
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>