<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head', {title : 'Catálogo | Boulevard'}) %>
<body>
    <%- include('./partials/header', {user: user})%> 
    <main class="products">
       
        <div  id="product1" class="section-p1">
            <div class="carousel">
                <div class="slides">
                  <img
                    src="http://blogs.infobae.com/amores-toxicos/files/2015/06/Banner-Libro.jpg"
                    alt="slide image"
                    class="slide"
                  />
                  <img
                    src="https://peniel.cl/wp-content/uploads/2022/04/BANNER-NUEVOS-LIBROS-proximoslibros.jpg"
                    alt="slide image"
                    class="slide"
                  />
                  <img
                    src="../../images/bannerlibros.png"
                    alt="slide image"
                    class="slide"
                  />
                </div>
                <div class="controls">
                  <div class="control prev-slide">&#9668;</div>
                  <div class="control next-slide">&#9658;</div>
                </div>
              </div>
           
                <div class="col-12">
                    <h2>Nuestros libros en stock</h2>
                </div>
            
                <div class="pro-container">
                    <% products.forEach(({id,title,author,price,images}) => { %>
               
                        <div class="pro">
                             <div class="image-container">
                                 <a href="/products/product-detail/<%= id %> "><img src="/images/<%= images[0].file %> " alt=""></a>
                             </div>
                             <div class="des">
                                 <span><%= author %></span>
                                 <h5><%= title %></h5>
                                 <div class="star" >
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star"></i>
                                     <i class="fa-solid fa-star-half"></i>
                                 </div>
                                 <h4>$<%= price %></h4>
                             </div>
                             <div class="cart">
                                 <a href="/products/product-detail/<%= id %>"><i class="fa-solid fa-eye"></i></a>
             
                             </div>
                         </div>
                       <% }) %>
                   
               
    
                  
                </div>
            
            
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="../../js/carousel.js"></script>
</body>
</html>