<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head', {title : `${product.title} | Boulevard` }) %>

<body>

    <%- include('./partials/header', {user: user})%> 
    <main>
    <div class="contenedor-principalProduct">
        <div class="contenedor-products">
           <div class="arrow">
           <a href="/"><i class="fa-solid fa-arrow-left-long"></i></a>
           </div>
            <div class="product-img">
                <img src="/images/<%= product.images[0].file %> " alt="">
            </div>

            <div class="product-descripcion">
               
                <h1 class="product-titulo"><%= product.title %></h1>

               

                <div class="product-detalle">
                    <h2>Reseña del libro:</h2>
                <b><p><%= product.description %></p></b>

                    <ul>
                        <li>Categoria: <span>
                            <% categories.forEach(category => { %>
                            <%= category.id === product.categoryId ? category.name:null%> 
                            <% }) %>
                        </span></li>
                        <li>Año: <span><%= product.year %> </span></li>
                        <li>Idioma: <span><%= product.language %> </span></li>
                        <li>N° de paginas: <span><%= product.pages %> </span></li>
                        <li>Formato: <span><%= product.format %> </span></li>
                        <li>Autor: <span><%= product.author %></span></li>
                        <li>Editorial: <span><%= product.editorial %></span></li>
                    </ul>
                </div>
                <div class="product-precio">
                    <p class="precio">Precio:<span>$<%= product.price  %></span></p>
                    <p class="precio">Descuento:<span><%= product.discount %>% OFF</span></p>
                    
                </div>
                <div class="carrito-compra">
                  
                    <button type="button" class="buttonDetail">
                        Agregar al carrito <i class="fas fa-shopping-cart"></i>
                    </button>
          
                </div>                
                <div class="redes-links">
                    <p>Compartir en: </p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
    <%- include('./partials/footer') %>

</body>

</html>