<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {title : `${user.name} | Boulevard` }) %>

  <body class="profile">
    <main>
      <%- include('./partials/header', {user: user})%>
      <div class="container1">
        <h1>Hola, <%= user.name %></h1>

        <div class="userAvatar">
          <img class="userPhoto" src="/images/<%= user.image %>" alt="" />
        </div>

        <div class="label">
          <a href="/users/profileEdit/<%= user.id %> "
            ><i class="fa-solid fa-user"></i> Editar perfil</a
          >
        </div>
        
        <form class="userForm">
          <div class="userInfo">
            <h2>Info Personal</h2>

            <h3>Nombre : <%= user.name %></h3>

            <h3>Apellido : <%= user.lastname %></h3>

            <h3>Email : <%= user.email %></h3>

            <h3>Fecha de nacimiento : <%= user.birth %></h3>

            <h3>Domicilio : <%= user.address %></h3>

            <h3>Provincia :<%= user.state %></h3>

            <h3>Celular : <%= user.phone %></h3>
          </div>
        </form>

        <div class="interior">
          <a class="btn-user" href="#open-modal">Darse de baja</a>
        </div>
     
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#" title="Close" class="modal-close">X</a>
          <h5>Eliminar!</h5>
          <div>¿Seguro que queres eliminar tu usuario?</div>
          <br>
          <div><small>Eliminar 👇</small></div>
          <div class="delete-user">
            <form action="/users/remove/<%= user.id %>?_method=DELETE" method="POST">
             <button type="submit" class="btn-user"> <i class="fa-solid fa-trash-can"></i>Estoy seguro</button>
          </form>
          </div>
      
         
        </div>
      </div>
        
            
      </div>
    
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
