<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title : `${user.name} | Boulevard` }) %>

    <body class="profile">
        <main>


            <%- include('./partials/header', {user: user})%> 
            <div class="container1"> 
                 <h1>Hola, <%= user.name %> </h1>

                <div class="userAvatar">
                    <img class="userPhoto" src="/images/<%= user.image %> " alt="">
                   
                </div>
            

                <div class="label">
                    <a href="/users/profileEdit/<%= user.id %> "><i class="fa-solid fa-user"></i> Editar perfil</a>
                </div>
                    <form class="userForm">
                     
                        <div class="userInfo">
                            
                                <h2>Info Personal</h2>
                                
                                <h3>Nombre : <%= user.name %>   </h3>
                                
                                <h3>Apellido : <%= user.lastname %></h3> 
                                
                                <h3>Email : <%= user.email %>  </h3>
                                
                                <h3>Fecha de nacimiento : <%= user.birth %></h3>
                                
                                <h3>Dirección : <%= user.direction %></h3>
                                
                                <h3>Provincia :<%= user.province %></h3>
                                
                                <h3>Telefono : <%= user.tel %></h3>
                                
                                <h3>Categoria : <%= user.rolId %></h3>
                           
                           
                           
                        </div>
                    
                    </form>
                
            </div>
               

                
        </main>
        <%- include('./partials/footer') %>
    </body>

</html>