<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { title : 'Editar perfil' }) %>

    <body class="profile">

        <%- include('./partials/header', {user: user})%>
            <main>
                <form method="POST" action="/users/update/<%= user.id %>?_method=PUT" class="userInfo" enctype="multipart/form-data">
                    <h3 class="UserTitleEdit">Hola, <%= user.name %> </h3>
                   
                      <div>
                        <label class="labelTags">Nombre</label>
                        <input class="userEdit-input" type="text" id="name" name="name" value="<%= user.name%>">
                        <span><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                    </div>
                    <div>
                        <label class="labelTags">Apellido</label>
                        <input class="userEdit-input" type="text" id="lastname" name="lastname" value="<%= user.lastname%>">
                        <span><%= locals.errors && errors.lastname ? errors.lastname.msg : null %></span>
                    </div>
                    <div>
                        <label class="labelTags">Email</label>
                        <input class="userEdit-input" type="email" id="email" name="email" value="<%= user.email%>">
                    </div>
                
                    <div>
                        <label class="labelTags">Fecha de nacimiento</label>
                        <input class="userEdit-input" type="date" id="birth" name="birth" value="<%= user.birth%>">
                        <span><%= locals.errors && errors.birth ? errors.birth.msg : null %></span>
                    </div>
                    <div>
                        <label class="labelTags">Domicilio</label>
                        <input class="userEdit-input" type="text" id="direction" name="direction" value="<%= user.direction%>">
                        <span><%= locals.errors && errors.direction ? errors.direction.msg : null %></span>
                    </div>
                    <div>
                        <label class="labelTags">Provincia</label>
                       <select class="userEdit-input" name="province" id="province"> 
                        
                        
                            <option value="" hidden selected>Selecciona</option>
                            

                            <option value="Buenos Aires">Buenos Aires</option>
                            <option value="Ciudad Autónoma de Buenos Aires">Ciudad Autónoma de Buenos Aires</option>
                            <option value="Catamarca">Catamarca</option>
                            <option value="Chaco">Chaco</option>
                            <option value="Chubut">Chubut</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Corrientes">Corrientes</option>
                            <option value="Entre Ríos">Entre Ríos</option>
                            <option value="Formosa">Formosa</option>
                            <option value="Jujuy">Jujuy</option>
                            <option value="La Pampa">La Pampa</option>
                            <option value="La Rioja">La Rioja</option>
                            <option value="Mendoza">Mendoza</option>
                            <option value="Misiones">Misiones</option>
                            <option value="Neuquén">Neuquén</option>
                            <option value="Río Negro">Río Negro</option>
                            <option value="Salta">Salta</option>
                            <option value="San Juan">San Juan</option>
                            <option value="San Luis">San Luis</option>
                            <option value="Santa Cruz">Santa Cruz</option>
                            <option value="Santa Fe">Santa Fe</option>
                            <option value="Santiago del Estero">Santiago del Estero</option>
                            <option value="Tierra del Fuego">Tierra del Fuego</option>
                            <option value="Tucumán">Tucumán</option>
                        </select>
                        <span><%= locals.errors && errors.province ? errors.province.msg : null %></span>
                    </div>
                    <div>
                        <label class="labelTags">Telefono</label>
                        <input class="userEdit-input" type="text" id="tel" name="tel" value="<%= user.tel%>">
                        <span><%= locals.errors && errors.tel ? errors.tel.msg : null %></span>
                    </div>
                    <div>
                        <label class="labelTags">Cambiar foto de Perfil</label>
                        <input class="userEdit-input" type="file" id="img" name="img" accept="image/*"/>
                    </div>
                    
                    <button class="btnUser" type="submit">Guardar</button>
                    <button class="btnUser" type="reset">Cancelar</button>
                  
                </form>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>