<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { title : 'Editar perfil | Boulevard' }) %>

    <body class="profile">

        <%- include('./partials/header', {user: user})%>
            <main>

                

                <form method="POST" action="/users/update/<%= user.id %>?_method=PUT" class="userInfo" enctype="multipart/form-data">
                    <h1 class="UserTitleEdit">Hola, <%= user.name %> </h1>

                      <div>
                        <label class="labelTags">Nombre</label>
                        <input class="input form-control userEdit-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="text" id="name" name="name" value="<%= user.name%>">
                        <span><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                        <small id="errorName" class="text-danger "></small>
                    </div>
                    <div>
                        <label class="labelTags">Apellido</label>
                        <input class="input form-control userEdit-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="text" id="lastname" name="lastname" value="<%= user.lastname %>">
                        <span><%= locals.errors && errors.lastname ? errors.lastname.msg : null %></span>
                        <small id="errorLastname" class="text-danger "></small>
                    </div>
                   
                    <div>
                        <label class="labelTags">Fecha de nacimiento</label>
                        <input class="input form-control userEdit-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="date" id="birth" name="birth" value="<%= user.birth %>">
                        <span><%= locals.errors && errors.birth ? errors.birth.msg : null %></span>
                        <small id="errorBirth" class="text-danger "></small>
                    </div>
                    <div>
                        <label class="labelTags">Domicilio</label>
                        <input class="input form-control userEdit-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" type="text" id="address" name="address" value="<%= user.adress %>">
                        <span><%= locals.errors && errors.address ? errors.address.msg : null %></span>
                        <small id="errorAddress" class="text-danger "></small>
                    </div>
                    <div>
                        <label class="labelTags">Provincia</label>
                       <select class="input form-control userEdit-input <%= locals.errors && errors.email ? 'is-invalid' : null %>" name="state" id="state" value="<%= user.state%>"> 
                        
                        
                            <option value="<%= user.state %>" hidden selected><%= user.state %></option>
                            

                            <option value="Buenos Aires">Buenos Aires</option>
                            <option value="Ciudad Autónoma de Buenos Aires">Ciudad Autónoma de Buenos Aires</option>
                            <option value="Catamarca">Catamarca</option>
                            <option value="Chaco">Chaco</option>
                            <option value="Chubut">Chubut</option>
                            <option value="Córdoba">Córdoba</option>
                            <option value="Corrientes">Corrientes</option>
                            <option value="Entre Ríos">Entre Ríos</option>
                            <option value="Formosa">Formosa</option>
                            <option value="Jujuy">Jujuy</option>
                            <option value="La Pampa">La Pampa</option>
                            <option value="La Rioja">La Rioja</option>
                            <option value="Mendoza">Mendoza</option>
                            <option value="Misiones">Misiones</option>
                            <option value="Neuquén">Neuquén</option>
                            <option value="Río Negro">Río Negro</option>
                            <option value="Salta">Salta</option>
                            <option value="San Juan">San Juan</option>
                            <option value="San Luis">San Luis</option>
                            <option value="Santa Cruz">Santa Cruz</option>
                            <option value="Santa Fe">Santa Fe</option>
                            <option value="Santiago del Estero">Santiago del Estero</option>
                            <option value="Tierra del Fuego">Tierra del Fuego</option>
                            <option value="Tucumán">Tucumán</option>
                        </select>
                        <span><%= locals.errors && errors.state ? errors.state.msg : null %></span>
                        <small id="errorState" class="text-danger "></small>
                    </div>
                    <div>
                        <label class="labelTags">Telefono</label>
                        <input class="userEdit-input" type="text" id="phone" name="phone" value="<%= locals.user && locals.user.phone %>">
                        <span><%= locals.errors && errors.phone ? errors.phone.msg : null %></span>
                        <small id="errorPhone" class="text-danger "></small>
                    </div>
                    <div>
                        <label class="labelTags">Cambiar foto de Perfil</label>
                        <input class="userEdit-input" type="file" id="image" name="image" accept="image/*"/>
                    </div>

                    <div>
                        <small id="errorForm" class="text-danger "></small>
                    </div>
                    <div class="buttons">
                        <button class="btnUser" type="submit">Guardar</button>
                        <button class="btnUser" type="reset">Cancelar</button>
                    </div>
               
                  
                </form>
                  <script src="/js/profileEdit.js"></script>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>