<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title : 'User|Librería' }) %>

    <body class="profile">
        <main>


            <%- include('./partials/header', {user: user})%> 
            
                <h2>Perfil</h2>
                <div class="userAvatar">
                    <img class="userPhoto" src="/images/userdefault.jpg" alt="">
                    <h5>Opciones de Perfil</h5>
                    <label class="label">
                        <input type="file" id="img" name="img" accept="img" required />
                        <span>Cambiar Foto</span>
                    </label>
                    <label class="label">
                        <li><a href="/users/profileEdit">Editar Perfil</a></li>
                    </label>
                    

                </div>
                
                    <form class="userForm">
                     
                        <div class="userInfo">
                            
                                <h2>Info Personal</h2>
                                <hr>
                                <h3>Nombre : <%= user.name %>   </h3>
                                <hr>
                                <h3>Apellido : <%= user.lastname %></h3> 
                                <hr>
                                <h3>Email : <%= user.email %>  </h3>
                                <hr>
                                <h3>Fecha de nacimiento : <%= user.birth %></h3>
                                <hr>
                                <h3>Dirección : <%= user.direction %></h3>
                                <hr>
                                <h3>Provincia :<%= user.province %></h3>
                                <hr>
                                <h3>Telefono : <%= user.tel %></h3>
                                <hr>
                                <h3>Categoria : <%= user.rol %></h3>
                           
                           
                           
                        </div>
                    
                    </form>
                

                
        </main>
        <%- include('./partials/footer') %>
    </body>

</html>