<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {
        title : 'Registrate | Boulevard'
    }) %>

<body class="body-register">

    <%- include('./partials/header') %>
    <!-- formulario -->
    <main class="register-design">


        <div class="register__container">
            <div class="register-info-container">

                <h2>Registrate</h2>
                <form method="POST" class="inputs-container">
                   
                        <p class="p-input">Tu nombre</p>
                        <input type="text" class="input" name="name" id="name-reg" value="<%= locals.old && old.name ? old.name : null %>">
                        <span><%= locals.errors && errors.name ? errors.name.msg : null %></span>

                        <p class="p-input">Tu apellido</p>
                        <input type="text" class="input" name="lastname" id="name-reg" value="<%= locals.old && old.lastname ? old.lastname : null %>">
                        <span><%= locals.errors && errors.lastname ? errors.lastname.msg : null %></span>

                        <p class="p-input">Tu email</p>
                        <input type="text" class="input" name="email" id="email-reg" value="<%= locals.old && old.email ? old.email : null%>">
                        <span><%= locals.errors && errors.email ? errors.email.msg : null %></span>
                
                        <p class="p-input">Tu contraseña</p>
                        <input type="password" class="input" name="password" id="password-reg" value="<%= locals.old && old.password ? old.password : null %>">
                        <span><%= locals.errors && errors.password ? errors.password.msg : null %></span>
                        <p class="p-input">Repetir contraseña</p>
                        <input type="password" class="input" name="password2" id="password-reg" value="<%= locals.old && old.password2 ? old.password2 : null %>">
                        <span><%= locals.errors && errors.password2 ? errors.password2.msg : null %></span>
                    <div class="terminoss">
                        <input type="checkbox" name="terminos" id="terminos-reg" >
                        <label for="terminos-reg">Acepto términos y condiciones</label>
                        <span><%= locals.errors && errors.terminos ? errors.terminos.msg : null %></span>
                    </div>


                    <div class="footer-register">
                        <button type="submit" class="button-reg">Registrate</button>
                        <a href="/users/login">
                            <p>¿Ya tenés cuenta?</p>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <div class="background">
            <img src="/images/register-noe.webp" alt="toy story" class="toy1">
        </div>




    </main>



    <%- include('./partials/footer') %>
</body>

</html>