<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title : 'Detalle del producto|Librería'}) %>

<body>

    <%- include('./partials/header') %>

    <div class="contenedor-principalProduct">
        <div class="contenedor-products">
            <div class="product-img">
                <img src="/images/product-1-big.jpg" alt="">
            </div>

            <div class="product-descripcion">
                <h2 class="product-titulo"><%= product.name %> </h2>

                <div class="product-precio">
                    <p class="precio">Precio:<span> $<%= product.price  %> </span></p>
                </div>

                <div class="product-detalle">
                    <h2>Reseña del libro:</h2>
                    <p><%= product.descripcion %> </p>

                    <ul>
                        <li>Categoria: <span><%= product.category %> </span></li>
                        <li>Año: <span><%= product.year %> </span></li>
                        <li>Idioma: <span><%= product.idioma %> </span></li>
                        <li>N° de paginas: <span><%= product.pages %> </span></li>
                        <li>Encuadernación: <span><%= product.encuadernacion %> </span></li>
                        <li>Autor: <span><%= product.autor %></span></li>
                        <li>Editorial: <span><%= product.editorial %></span></li>
                    </ul>
                </div>

                <div class="carrito-compra">
                    <input type="number" min="0" value="1">
                    <button type="button" class="boton">
                        Agregar al carrito <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>

                <div class="redes-links">
                    <p>Compartir en: </p>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('./partials/footer') %>
</body>

</html>